<%= form_for @entertainment, :html => { :class => "form-horizontal entertainment" } do |f| %>

    <% if @entertainment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@entertainment.errors.count, "error") %> prohibited this entertainment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @entertainment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="DAP1-info">   
  <h3 class="region-breaker"> DAP 1 INFO </h3>
  
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :representative_name, :class => 'form-control', :disabled => 'disabled' %>
    </div>
    <%= f.label :representative_name,"Representative Name", :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:representative_name]) %>
  </div>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :representative_id, :class => 'form-control', :disabled => 'disabled' %>
    </div>
    <%= f.label :representative_id,"Representative Id", :class => 'control-label user_feild disable' %>

    <%= error_span(@entertainment[:representative_id]) %>
  </div>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.country_select :country, priority: %w(US CA), prompt: 'Please select a country',class: "form-control" %>
    </div>
    <%= f.label :country, :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:country]) %>
  </div>
  
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
    <%= f.label :url, :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:url]) %>
  </div>
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= f.label :name, "EE Name", :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:name]) %>
  </div>
 <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%= f.label :phone_number,"Phone Number", :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:phone_number]) %>
  </div>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :street_address_1, :class => 'form-control' %>
    </div>
    <%= f.label :street_address_1,"Street Address 1", :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:street_address_1]) %>
  </div>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :street_address_2, :class => 'form-control' %>
    </div>
    <%= f.label :street_address_2,"Street Address 2", :class => 'control-label user_feild' %>

    <%= error_span(@entertainment[:street_address_2]) %>
  </div> 
  <div class="control-group col-md-6">
      <% options = options_for_select(["Establishment", "Event Center", "Promoter", "Department"], selected: @function ) %>
      <%= f.select :function ,options,{ :include_blank=>"Select Function"} %>
    <%= f.label :function, :class => 'control-label user_feild' %>
    <%= error_span(@entertainment[:function]) %>
  </div>
 <%= hidden_field_tag "division", current_user.try(:division).try(:name) %>
 <%= hidden_field_tag "region", current_user.try(:division).try(:name) %>
  
  
   

  <%= f.submit nil, :class => 'btn btn-primary col-md-12' %>
  
<% end %>
