<%- model_class = Entertainment -%>
<div class="table_area">
<table id="flip-scroll" class="table table-bordered table-striped tablesorter report">
  <thead>
    <tr>
      <th class="text-center">-</th>
      <th class="text-center">-</th>
      <th colspan="7" >Sort All Columns</th>
    </tr>
    <tr>
      <th class="text-center">-</th>
      <th class="text-center">-</th>
      <th colspan="2" >First Group</th>
      <th colspan="5" >Second Group</th>
    </tr>
    <tr>
      <th>Action</th>
      <th><%= model_class.human_attribute_name(:representative_id) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:country) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:state_or_province) %></th>
      <th><%= model_class.human_attribute_name(:function) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:category) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:sub_category) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:name) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:url) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="numeric">Last edited</th>
    </tr>
  </thead>
  <tbody>
    <% @entertainments.each do |entertainment| %> 
      <tr>
        <td data-title="Action"><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_entertainment_path(entertainment), :class => 'btn btn-default btn-xs' %></td>
        <td data-title="Representative"><%= entertainment.representative_id %></td>
        <td data-title="Country" class="numeric"><%= Carmen::Country.coded(entertainment.country).name %></td>
        <td data-title="State or province" class="numeric"><%= entertainment.state_or_province %></td>
        <td data-title="Function"><%= entertainment.function %></td>
        <td data-title="Category" class="numeric"><%= entertainment.category %></td>
        <td data-title="Sub category %" class="numeric"><%= entertainment.sub_category %></td>
        <td data-title="Name" class="numeric"><%= entertainment.name %></td>
        <td data-title="Url" class="numeric"><%= link_to(entertainment.url,entertainment.url) %></td>
        <td data-title="Created at" class="numeric"><%= entertainment.created_at %></td> 
        <td data-title="Last edited" class="numeric"><%= entertainment.updated_at %></td> 
                
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'See more', 'javascript:void(0)', :id => "new_product_link", class: "btn col-md-5 btn-border backgrnd-enter-btns see-more" %>
<script type="text/javascript">
  $("table").tablesorter({ theme: 'blue',
  widgets: ["zebra", "filter"],
    widgetOptions : {
      // filter_anyMatch replaced! Instead use the filter_external option
      // Set to use a jQuery selector (or jQuery object) pointing to the
      // external filter (column specific or any match)
      filter_external : '.search',
      // add a default type search to the first name column
      filter_defaultFilter: { 1 : '~{query}' },
      // include column filters
      filter_columnFilters: true,
      filter_placeholder: { search : 'Search...' },
      filter_saveFilters : false,
      filter_reset: '.reset'
    } });
   var offset = 100;
  $(document).ready(function() {
   
    $('#new_product_link').click(function () {
      $.ajax({
        url: "/entertainments/function_rep",
        type: "get",
        dataType: 'JSON',
        data: {
            'offset' : offset
          },
        success:function(data){
          console.log(data[0]['id']);
          offset = offset+100;
            for (index = 0; index < data.length; ++index) {
              $(".report").append('<tr><td><a class="btn btn-default btn-xs" href="/entertainments/'+data[index]['id']+'/edit">Edit</a></td><td>'+data[index]['representative_id']+'</td><td>'+data[index]['function']+'</td><td>'+data[index]['category']+'</td><td>'+data[index]['sub_category']+'</td><td>'+data[index]['country']+'</td><td>'+data[index]['state_or_province']+'</td><td>'+data[index]['name']+'</td></td><td><a href="'+data[index]['url']+'">'+data[index]['url']+'</a></td></tr>');
            }    
          }  
        });
      }); 
    }); 
</script>

