<%- model_class = Entertainment -%>
<div class="table_area">
<table id="flip-scroll" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Action</th>
      <th><%= model_class.human_attribute_name(:representative_id) %></th>
      <th><%= model_class.human_attribute_name(:function) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:category) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:sub_category) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:country) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:state_or_province) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:name) %></th>
      <th class="numeric"><%= model_class.human_attribute_name(:url) %></th>
    </tr>
  </thead>
  <tbody>
    <% @entertainments.each do |entertainment| %> 
      <tr>
        <td data-title="Action"><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_entertainment_path(entertainment), :class => 'btn btn-default btn-xs' %></td>
        <td data-title="Representative"><%= entertainment.representative_id %></td>
        <td data-title="Function"><%= entertainment.function %></td>
        <td data-title="Category" class="numeric"><%= entertainment.category %></td>
        <td data-title="Country %" class="numeric"><%= entertainment.sub_category %></td>
        <td data-title="Sub category" class="numeric"><%= Carmen::Country.coded(entertainment.country).name %></td>
        <td data-title="State or province" class="numeric"><%= entertainment.state_or_province %></td>
        <td data-title="Name" class="numeric"><%= entertainment.name %></td>
        <td data-title="Url" class="numeric"><%= link_to(entertainment.url,entertainment.url) %></td>
                
      </tr>
    <% end %>
  </tbody>
</table>
</div>



