<%- model_class = Entertainment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="col-md-12 btn_area">
  <%= link_to "Total EE's", report_entertainments_path, :class => 'btn col-md-5 btn-border backgrnd-enter-btns'%>
  <%= link_to "EE's By COUNTRY", report_by_country_entertainments_path, :class => 'btn col-md-5 btn-border backgrnd-enter-btns'%>
</div>
<div class="col-md-12 btn_area">
  <%= link_to "EE's By CATEGORY", report_by_function_entertainments_path, :class => 'btn col-md-5 btn-border backgrnd-enter-btns'%>
  <%= link_to "EE's By FUNCTION", report_by_function_entertainments_path, :class => 'btn col-md-5 btn-border backgrnd-enter-btns'%>
</div>


<table id="entertainments" class="table table-striped edit" data-source="<%= entertainments_url(format: "json") %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= "EE "+model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:state_or_province) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entertainment_path,
            :class => 'btn btn-primary btn btn_side' %>
