<%= bootstrap_devise_error_messages! %>
    
    <div class="panel-heading">
      <h3><b>Personal Profile</b></h3>
    </div>
    <div class="panel-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <h3 class="region-breaker">LouisP INFORMATION</h3>
      <div class="form-group col-md-6">
        
        <%= f.text_field :user_main_id, :autocomplete => "off", class: "form-control" %>
        <%= f.label :user_main_id,"User ID", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        <%= f.label :password,"Password (leave blank if you don't want to change it)", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.password_field :password_confirmation, class: "form-control"  %>
        <%= f.label :password_confirmation,"Password Confirmation" , class: "user_feild"%>
      </div>
      
      <div class="form-group col-md-6">
        
        <%= f.text_field :division,value: current_user.division.name, :autocomplete => "off", class: "form-control" %>
        <%= f.label :division,"Division", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
         <%= f.text_field :region,value: current_user.region.territory, :autocomplete => "off", class: "form-control" %>
        <%= f.label :region,"Region", class: "user_feild" %>
        
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :company_email, class: "form-control" %>
        <%= f.label :company_email ,"Company Email", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :company_phone, class: "form-control" %>
        <%= f.label :company_phone ,"Company Phone", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :company_mailing_street_address_1, class: "form-control" %>
        <%= f.label :company_mailing_street_address_1 ,"Company Mailing Street Address 1", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :company_mailing_street_address_2, class: "form-control" %>
        <%= f.label :company_mailing_street_address_2,"Company Mailing Street Address 2" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        <div class="form-control">
          <%= f.country_select :company_mailing_country, priority: %w(US CA), prompt: 'Please select a country',class: "form-control" %>
        </div>
        <%= f.label :company_mailing_country ,"Company Mailing Country", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
      
        <div class="form-control">
        <%= render partial: 'subregion_select', locals: {parent_region: f.object.company_mailing_country} %>
        </div>
        <%= f.label :company_mailing_state_or_province,"Company Mailing State or Province", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :company_mailing_postal_code, class: "form-control" %>
        <%= f.label :company_mailing_postal_code,"Company Mailing Postal Code", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.password_field :current_password, class: "form-control error" %>
        <%= f.label :current_password,"Current Password (we need your current password to confirm your changes)", class: "user_feild error" %> 
      </div>
      <div class="col-md-12">
      <h3 class = "region-breaker"> PERSONAL INFORMATION</h3>
      </div>
      <br>
      <div class="form-group col-md-3">
        
        <%= f.text_field :salutation, class: "form-control" %>
        <%= f.label :salutation, class: "user_feild" %>
      </div>
      <br/>
      <div class="form-group col-md-12">
      </div> 
      <div class="form-group col-md-12">
      </div>
      
      <div class="form-group col-md-6">
        
        <%= f.text_field :first_name, class: "form-control" %>
        <%= f.label :first_name, "First Name", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :middle_name, class: "form-control" %>
        <%= f.label :middle_name,"Middle Name", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :last_name, class: "form-control" %>
         <%= f.label :last_name ,"Last Name", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :age, class: "form-control" %>
        <%= f.label :age , class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :sex, class: "form-control" %>
        <%= f.label :sex , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.email_field :email, class: "form-control" %>
         <%= f.label :email , class: "user_feild"%>
      </div>
      
      <div class="form-group col-md-6">
        
        <%= f.text_field :title, class: "form-control" %>
        <%= f.label :title , class: "user_feild"%>
      </div>
      
      <div class="form-group col-md-6">
        
        <%= f.text_field :personal_email, class: "form-control" %>
        <%= f.label :personal_email ,"Personal Email", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :personal_phone, class: "form-control" %>
         <%= f.label :personal_phone ,"Personal Phone", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :personal_mailing_street_address, class: "form-control" %>
        <%= f.label :personal_mailing_street_address ,"Personal Mailing Street Address", class: "user_feild"%>
      </div>
      
      <div class="form-group col-md-6">
        
        <%= f.text_field :identification_photo, class: "form-control" %>
        <%= f.label :identification_photo ,"Identification Photo", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :federal_id_number, class: "form-control" %>
        <%= f.label :federal_id_number,"Federal ID Number" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        <div class="form-control">
          <!--<div class="ui-widget">-->
            <%= f.country_select :country_of_residence, priority: %w(US CA), prompt: 'Please select a country',class: "form-control" %>
          <!--</div>
          <button id="toggle">Show underlying select</button>-->
        </div>
        <%= f.label :country_of_residence,"Country of Residence" , class: "user_feild"%>

      </div>
      <div class="form-group col-md-6">
       
        <div class="form-control">
          <%= f.country_select :country_of_citizenship, priority: %w(US CA), prompt: 'Please select a country',class: "form-control" %>
        </div>
         <%= f.label :country_of_citizenship,"Country of Citizenship" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :date_of_hire, class: "form-control" %>
         <%= f.label :date_of_hire ,"Date of Hire", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <div class="form-control">
          <%= f.country_select :personal_mailing_country, priority: %w(US CA), prompt: 'Please select a country',class: "form-control" %>
        </div>
        <%= f.label :personal_mailing_country,"Personal Mailing Country" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :personal_mailing_postal_code, class: "form-control" %>
        <%= f.label :personal_mailing_postal_code,"Personal Mailing Postal Code" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :personal_mailing_state_or_province, class: "form-control" %>
        <%= f.label :personal_mailing_state_or_province,"Personal Mailing State or Province" , class: "user_feild"%>      
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :personal_mailing_city, class: "form-control" %>
         <%= f.label :personal_mailing_city,"Personal Mailing City", class: "user_feild" %>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :personal_mailing_street_2, class: "form-control" %>
        <%= f.label :personal_mailing_street_2,"Personal Mailing Street 2" , class: "user_feild"%>
      </div>
      <div class="col-md-12">
      <h3 class="region-breaker">EMERGENCY CONTACT INFORMATION</h3>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_mailing_city, class: "form-control" %>
        <%= f.label :emergency_contact_mailing_city,"Emergency Contact Mailing City" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :emergency_contact_mailing_street_2, class: "form-control" %>
         <%= f.label :emergency_contact_mailing_street_2 ,"Emergency Contact Mailing Street 2", class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_mailing_street_1, class: "form-control" %>
        <%= f.label :emergency_contact_mailing_street_1,"Emergency Contact Mailing Street 1" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_relationship, class: "form-control" %>
        <%= f.label :emergency_contact_relationship,"Emergency Contact Relationship" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
       
        <%= f.text_field :emergency_contact_phone_number, class: "form-control" %>
         <%= f.label :emergency_contact_phone_number,"Emergency Contact Phone Number" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_email, class: "form-control" %>
        <%= f.label :emergency_contact_email,"Emergency Contact Email" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_last_name, class: "form-control" %>
        <%= f.label :emergency_contact_last_name,"Emergency Contact Last Name" , class: "user_feild"%>
      </div>
      <div class="form-group col-md-6">
        
        <%= f.text_field :emergency_contact_first_name, class: "form-control" %>
        <%= f.label :emergency_contact_first_name,"Emergency Contact First Fame" , class: "user_feild"%>
      </div>

      <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary col-md-12" %></div>
  <% end %>
  <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>

<%= link_to "Back", :back %>

  </div>
  <% @region = Region.new %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><h3 class="panel-title"><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h3></h4>
      </div>
      <div class="modal-body">
        <%= form_for @region, :html => { :class => "form-horizontal entertainment" } do |f| %>

    <% if @region.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @region.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :territory, :class => 'form-control' %>
    </div>
    <%= f.label :territory, :class => 'control-label user_feild' %>
    <%= error_span(@region[:territory]) %>
  </div>
  <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :gdp_usd_billion, :class => 'form-control' %>
    </div>
    <%= f.label :gdp_usd_billion, :class => 'control-label user_feild' %>

    <%= error_span(@region[:gdp_usd_billion]) %>
  </div>
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :population, :class => 'form-control' %>
    </div>
    <%= f.label :population, :class => 'control-label user_feild' %>

    <%= error_span(@region[:population]) %>
  </div>
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :ee_score, :class => 'form-control' %>
    </div>
    <%= f.label :ee_score, :class => 'control-label user_feild' %>

    <%= error_span(@region[:ee_score]) %>
  </div>
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :first_language, :class => 'form-control' %>
    </div>
    <%= f.label :first_language, :class => 'control-label user_feild' %>

    <%= error_span(@region[:first_language]) %>
  </div>
   <div class="control-group col-md-6">
    <div class="controls">
      <%= f.text_field :second_language, :class => 'form-control' %>
    </div>
    <%= f.label :second_language, :class => 'control-label user_feild' %>

    <%= error_span(@region[:second_language]) %>
  </div>
   

  

      </div>
      <div class="modal-footer">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            authenticated_root_path, :class => 'btn btn-default' %>

<% end %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(".region").append("<option value='newregion'>Add new region</option>");
  $(".region").change(function(){
    var val = $(this).val();
    if(val=="newregion")
      {$('#myModal').modal('show');}
  });

  $("#user_company_mailing_country").change(function(){
  select_wrapper = $('#order_state_code_wrapper')

    $('select', select_wrapper).attr('disabled', true)
    var yourSelect = document.getElementById('user_company_mailing_country');
    url = "/users/subregion_options?parent_region="+yourSelect.options[yourSelect.selectedIndex].value;;
    select_wrapper.load(url)
  });
 
  
</script>
