<%= bootstrap_devise_error_messages! %>
      <div class="page-header">
        <h3><b>DAP SIGNUP</b>
        </h3>
      </div>
      
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
          
          <div class="form-group col-md-6">
            <%= f.text_field :first_name, class: "form-control" %>
            <%= f.label :first_name, class: "control-label user_feild" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.text_field :last_name, class: "form-control" %>
            <%= f.label :last_name, class: "control-label user_feild" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.country_select :country_of_residence, priority: %w(US CA), prompt: 'Please select a country',class: "form-control drop_down_rltv_pos" %>
            <%= f.label :country_of_residence, class: "control-label user_feild" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.email_field :email, class: "form-control " %>
            <%= f.label :email, class: "control-label user_feild" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.text_field :personal_phone, class: "form-control" %>
            <%= f.label :personal_phone, class: "control-label user_feild" %>
          </div>
          <% password_length = 12
          @password = Devise.friendly_token.first(password_length) %>
          <div class="form-group col-md-6">
            <%= f.text_field :password, :value => @password, hidden: "hidden" %>
          </div>
          <div class="form-group">
            <%= f.text_field :password_confirmation, :value => @password, hidden: "hidden" %>
          </div>
          <div class="form-group col-md-6">
            <%= hidden_field_tag "user_main_id", "nil" %>
          </div>
          
          <%= f.submit t('.create_DAP', :default => "Create DAP"), class: "btn btn-primary col-md-6 btn btn_side  btn_add btn-center" %>
        <% end %>
      </div>

      <script type="text/javascript">
        $("#user_country_of_residence").select2();
      </script>