<!DOCTYPE html>
<html>
<head>
  <title>Newproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert 	%></p>
  
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 main_layout">
      <div class="col-md-3 side_bar">
        <div id="user_nav">
          <div class="image_holder">
            <% if user_signed_in? %>
              <% @painting = current_user.painting %>
              <%if @painting.nil? %>
              <img src="/assets/user.png">
              <%else%>
              <%= image_tag @painting.image_url(:thumb).to_s %>
              <%end%>
            <%else%>
              <img src="/assets/user.png">  
            <%end%>            
          </div>
          <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path,  :method => :delete%>
            <%= link_to "UPLOAD NEW IMAGE", new_painting_path, { :class=>"btn btn_side"}%>
            <%= link_to "UPDATE PROFILE", edit_user_registration_path, { :class=>"btn btn_side"} %>
            <%= link_to "ADD/EDIT ENTERTAINMENT <br/> ESTABLISHMENTS".html_safe, new_entertainment_path, { :class=>"btn btn_side "} %>
            <%= link_to "CONTACTS LIST", authenticated_root_path, { :class=>"btn btn_side"} %>
            <%= link_to "CALENDAR", authenticated_root_path, { :class=>"btn btn_side"} %>
          <% else %>
            <%= link_to "sign in", new_user_session_path,{ :class=>"btn btn_side"} %>
            <%= link_to "Sign up", new_user_registration_path, { :class=>"btn btn_side"} %>
          <% end %>
          </div>
      </div>
      <div class="col-md-9 border-left">
        <%= yield %>
      </div>
    </div>
  </div>
</div>



</body>
</html>
